
/*RESET*/ 

@media screen and (min-width:320px){ 
  

#nav-menu ul li 
{

float:none;
border-bottom: 2px solid; 
right:300px;
position: relative;
text-align: left;
display: none;
}


 #nav-menu ul li:last-child 
{
	border-bottom: none;
}

#menu-trigger
{
	display: block;
}




IMG.displayed {

 	display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 100%;
	height: auto; 
}




}