
/*RESET*/ 

@media screen and (min-width:320px){ 
  


IMG.displayed
{
 width: 50%;
 height:50%; 

}


.nav-menu ul li 
{

float:none;
border-bottom: 2px solid; 
right:300px;
position: relative;
text-align: left;
display: none; 

}


 .nav-menu ul li:last-child 
{
	border-bottom: none;
}

.menu-trigger
{
	display: block;
}



}