
body { 
    background:#3498db !important; 
   
}


.navbar .navbar-nav {  /*make the nav bar center on regular window*/ 
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {  /*make the nav bar center on mobile window*/ 
    text-align: center;

}

.navbar-default  /*navifgation bar*/ 
{
  background:#3498db !important; 
  border: none !important;



}
.navbar-nav > li a   /*link text*/ 
{
  color:white !important;
  text-align: center; 


}

.navbar-nav > li > a:hover  /*color changes for links when hovered over*/ 
 {
 background:#2d8cca !important;  /*Sets the text hover color on navbar*/
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
    text-align: center; 
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }