
body { 
    background:#3498db !important; 
   
}

.navbar
{
   background:#3498db !important; /*color for nav bar*/ 

}

.navbar > li > a 
{

box-shadow: none !important;
text-shadow: none !important;

}
